@import "./Common.sass"

.root
  @extend .baseContentBox

  padding: 10px

  > p
    margin: 0 0 5px 0
    font-weight: bold

.content
  > div
    margin: 10px
    display: inline-block
    width: calc(50% - 20px)
    height: 450px
    overflow-y: scroll
    background: #4b4b4b


.motivatorItem
  @extend .baseContentBox
  cursor: pointer
  display: flex
  align-items: center
  margin: 10px

  > div:nth-child(1)
    width: 65px
    height: 65px
    border-radius: 50%
    margin: 5px

  > div:nth-child(2)

    > p
      margin: 3px 0
      font-size: 12px


      &:first-child
        font-weight: bold
        font-size: 17px

        > span
          font-size: 12px
          font-style: italic