@import "../Common/Common.sass"

.root
  @extend .baseContentBox

  padding: 10px

  > p
    margin: 0 0 5px 0
    font-weight: bold

.content
  display: flex

  > div
    flex-grow: 1
    margin-left: 5px

.inputGroup
  margin-bottom: 5px
  font-size: 13px

  > span
    display: inline-block
    width: 20%
    line-height: 25px
    margin-right: 5px

.inputBox
  @extend .inputGroup

  > input
    width: 70%
    background: transparent
    outline-style: none
    border: 1px solid #999
    color: white
    height: 25px

    &::-webkit-calendar-picker-indicator
      filter: invert(1)


.inputTextBox
  @extend .inputGroup

  > textarea
    width: 70%
    background: transparent
    outline-style: none
    border: 1px solid #999
    color: white
    height: 100px
    resize: none

.inputDifficulty
  @extend .inputGroup

  > div
    display: inline-flex
    width: 70%
    justify-content: space-between

    > button
      width: 30%
      font-weight: bold
      height: 35px

.activeBtn
  background: #ffeb3b
    